body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(255, 244, 210);
}

#container {
    margin-top: 20px;
    margin-left: 43%;
    font-size: 18px;
    font-family: sans-serif;
}

#inputbox {
    font-size: 18px;
    font-family: sans-serif;
    background-color: rgb(149, 240, 187);
    color: rgb(90, 21, 61);
}

#button {
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(21, 252, 221);
    color: rgb(90, 13, 61);
    margin-left: 60px;
}

#list {
    margin-top: 20px;
    margin-left: 50px;
}

li:nth-child(odd) {
    color: rgb(122, 32, 32);
}

li:nth-child(even) {
    color: rgb(139, 85, 35);
}